<!doctype html>
<html lang="en">
<head th:replace="base :: head">
     
</head>
<body>
<th:block th:replace="base :: header">
</th:block>

<div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4  ">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect  text-center shadow-sm p-1"><img th:src="${'/viewprofileimage/'+user.id}" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0"  th:text="${user.name}"> </h2>
        <p data-aos="fade-left" data-aos-delay="100"  th:text="${subtitle}"></p>
        
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3 mb-3">About Me</h2>
        <p  th:text="${aboutme}"></p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="pb-1">Age</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">28</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Email</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary" th:text="${user.email}"></div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Phone</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary" th:text="${user.mobile}"></div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Address</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary" th:text="${address}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Professional Skills</h2>
    <div class="row"> 
        <div class="m-2 badge badge-info" th:each="s:${skills}"><span class="h6" th:text="${s}"></span> 
        </div> 
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Work Experience</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm" th:each="e:${experiences}">
        <div class="card-body">
          <div class="h5 mb-1"><span th:text="${e.position}"></span> <span class="text-muted h6">at <span th:text="${e.company}"></span></span></div>
          <div class="text-muted text-small mb-2"><span th:text="${e.dtfrom}"></span> to <span th:text="${e.dtto==''?'Present':e.dtto}"></span></div>
          </div>
      </div>
     </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Education</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm" th:each="e:${educations}">
        <div class="card-body">
          <div class="h5 mb-1"><span th:text="${e.course}"></span> <span class="text-muted h6">from <span th:text="${e.institution}"></span></span></div>
             <div class="text-muted text-small mb-2"><span th:text="${e.dtfrom}"></span> to <span th:text="${e.dtto==''?'Present':e.dtto}"></span></div>
     
            </div>
      </div> 
    </div>
  </div>
  <hr class="d-print-none"/>
  
</div>        
</div>
</div>
	   <th:block   th:replace="base :: footer">
 
   </th:block>
 
</body>
</html>