<!doctype html>
<html lang="en">
  <head th:fragment="head">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title>Online Job Portal</title>

    <!-- Scripts -->

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo/joblister.png" />
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">

    <!-- Styles -->
    
    <link rel="stylesheet" href="/assets/css/all.min.css">    
    <link href="/assets/css/app.css" rel="stylesheet"> 
    

 
    <script src="/assets/js/jquery.js"></script> 
    <script src="/assets/js/app.js"></script>  
    <script src="/assets/js/custom.js"></script> 
    <script src="/assets/js/datatables/datatables.min.js"></script>
    	<link href="/assets/js/datatables/datatables.min.css" rel="stylesheet" type="text/css" />  
    
  </head>
  <body>
  <th:block th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-white bg-white border-bottom" id="navbar">
            <!--  sticky-top -->
  <div class="container">
  <a href="/" class="navbar-brand">
      <img src="/assets/images/logo.png" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"  sec:authorize="!isAuthenticated()">
      <ul class="navbar-nav ml-auto">
                        <a href="/login" class="btn primary-btn">Sign up or Log in</a>
              </ul>
    </div>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
      <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown dropdown-left"> 
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span sec:authentication="name"></span></span> 
            <img class="img-profile rounded-circle" src="/myprofileimage" > 
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown"> 
                        <a class="dropdown-item" href="/getaccountlink/dashboard"> <i class="fas fa-cogs fa-sm "></i>Dashboard</a> 
                                    <a class="dropdown-item" href="/getaccountlink/profile"> <i class="fas fa-user fa-sm "></i> Profile </a> 
            <a class="dropdown-item" href="/getaccountlink/changepassword"> <i class="fas fa-key fa-sm "></i> Change Password </a> 
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="/logout"> 
                <i class="fas fa-sign-out-alt"></i> 
                Logout 
              </a>
          </div>
        </li>
                      </ul>
    </div>
   </div>
  
</nav>  
  </th:block>


   <div class="container my-4">
        <div class="admin-account-layout">
            <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
            <div class="account-bdy">
                <div class="row">
                
                <th:block th:fragment="admin-sidenavbar">
                    <div class="col-sm-12 col-md-3 pr-md-0 pr-sm-3" sec:authorize="hasAuthority('ADMIN')"  th:with="path=${#ctx.springRequestContext.requestUri}">
                          <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
                        <div class="account-nav">
  <ul class="list-group">
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/dashboard')?'active':'')}">
      <a href="/admin/dashboard" class="account-nav-link" >
        <i class="fas fa-chart-line"></i> Dashboard
      </a>
    </li>
     <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/employercats')?'active':'')}">
      <a href="/admin/employercats" class="account-nav-link">
        <i class="fas fa-list-ul"></i> Employers Categories
      </a>
    </li>     
     <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/employers')?'active':'')}">
      <a href="/admin/employers" class="account-nav-link">
        <i class="fas fa-building"></i> Employers
      </a>
    </li>
    <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/job-seekers')?'active':'')}">
      <a href="/admin/job-seekers" class="account-nav-link">
        <i class="fas fa-users"></i> Jobseekers
      </a>
    </li>     
   
       <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/jobcats')?'active':'')}">
      <a href="/admin/jobcats" class="account-nav-link">
        <i class="fas fa-list-ul"></i> Job Categories
      </a>
    </li>     
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/admin/jobs')?'active':'')}">
      <a href="/admin/jobs" class="account-nav-link">
        <i class="fas fa-stream"></i> Jobs
      </a>
    </li>      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/chatroom')?'active':'')}">
      <a href="/chatroom" class="account-nav-link">
        <i class="fas fa-comments"></i>Chatroom
      </a>
    </li>      
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/logout')?'active':'')}">
      <a href="/logout" class="account-nav-link">
        <i class="fas  fa-sign-out-alt"></i> Logout
      </a>
    </li>    
  </ul>
</div>                    </div>
               </th:block>
                </div>
            </div>
        </div>
    </div>
 
 
 
 
   <div class="container my-4">
        <div class="employer-account-layout">
            <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
            <div class="account-bdy">
                <div class="row">
                            <th:block th:fragment="employer-sidenavbar">
                    <div class="col-sm-12 col-md-3 pr-md-0 pr-sm-3" sec:authorize="hasAuthority('EMPLOYER')"  th:with="path=${#ctx.springRequestContext.requestUri}">
                          <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
                        <div class="account-nav">
  <ul class="list-group">
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/employer/dashboard')?'active':'')}">
      <a href="/employer/dashboard" class="account-nav-link" >
        <i class="fas fa-chart-line"></i> Dashboard
      </a>
    </li> 
    <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/employer/createpost')?'active':'')}">
      <a href="/employer/createpost" class="account-nav-link" >
        <i class="fas fa-plus-square"></i> Create Job listing
      </a>
    </li>
       
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/employer/jobs')?'active':'')}">
      <a href="/employer/jobs" class="account-nav-link">
        <i class="fas fa-stream"></i> Jobs
      </a>
    </li>      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/chatroom')?'active':'')}">
      <a href="/chatroom" class="account-nav-link">
        <i class="fas fa-comments"></i>Chatroom
      </a>
    </li>      
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/logout')?'active':'')}">
      <a href="/logout" class="account-nav-link">
        <i class="fas  fa-sign-out-alt"></i> Logout
      </a>
    </li>    
  </ul>
</div>                    </div>
               </th:block>
      
              </div>
            </div>
        </div>
    </div>
 
   
 
 
   <div class="container my-4">
        <div class="jobseeker-account-layout">
            <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
            <div class="account-bdy">
                <div class="row">
                            <th:block th:fragment="jobseeker-sidenavbar">
                    <div class="col-sm-12 col-md-3 pr-md-0 pr-sm-3" sec:authorize="hasAuthority('JOBSEEKER')"  th:with="path=${#ctx.springRequestContext.requestUri}">
                          <div class="account-hdr border">
                <h5><i class="fas fa-cog"></i> Account Settings</h5>
            </div>
                        <div class="account-nav">
  <ul class="list-group">
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/jobseeker/dashboard')?'active':'')}">
      <a href="/jobseeker/dashboard" class="account-nav-link" >
        <i class="fas fa-chart-line"></i> Dashboard
      </a>
    </li>  
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/jobseeker/profile')?'active':'')}">
      <a href="/jobseeker/profile" class="account-nav-link">
        <i class="fas fa-file"></i>Profile Update
      </a>
    </li>   
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/jobseeker/searchjobs')?'active':'')}">
      <a href="/jobseeker/searchjobs" class="account-nav-link">
        <i class="fas fa-search"></i>Search Jobs
      </a>
    </li>     
        <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/jobseeker/appliedjobs')?'active':'')}">
      <a href="/jobseeker/appliedjobs" class="account-nav-link">
        <i class="fas fa-stream"></i>Apllied Jobs
      </a>
    </li> 
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/jobseeker/savedjobs')?'active':'')}">
      <a href="/jobseeker/savedjobs" class="account-nav-link">
        <i class="fas fa-stream"></i>Saved Jobs
      </a>
    </li> 
    <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/chatroom')?'active':'')}">
      <a href="/chatroom" class="account-nav-link">
        <i class="fas fa-comments"></i>Chatroom
      </a>
    </li>      
      <li th:class="${'list-group-item list-group-item-action '+(#strings.contains(path,'/logout')?'active':'')}">
      <a href="/logout" class="account-nav-link">
        <i class="fas  fa-sign-out-alt"></i> Logout
      </a>
    </li>    
  </ul>
</div>                    </div>
               </th:block>
      
              </div>
            </div>
        </div>
    </div>
    
  
         <th:block  th:fragment="loginlinksfooter"> 
  <div class="login-banner d-none d-md-block border-top"  sec:authorize="!isAuthenticated()">
  <div class="container p-3">
    <div class="d-flex justify-content-center align-items-center">
      <p class="login-banner-text mr-5">Search, Apply & Get Job <strong>Free</strong></p>
      <a href="/signup" class="primary-btn mr-4">Register</a>
      <a href="/login" class="primary-outline-btn mr-4">Login</a>
      <a href="/login" class="secondary-link">Are you an Employer?</a>
    </div>
  </div>
</div>
  </th:block>
  
     <th:block  th:fragment="footer"> 
         <footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="footer-links">
            <h5 class="lead footer-hdr">For Job Seekers</h5>
            <div class="line-divider"></div>
            <div class="footer-link-list">
             <a href="/signup" class="footer-links">Register <span class="badge badge-primary">Free</span></a>
             <a href="/login" class="footer-links">Login</a>
             <a href="" class="footer-links">Find jobs</a>
             <a href="#" class="footer-links">Faq</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer-links">
            <h5 class="lead footer-hdr">For Employers</h5>
            <div class="line-divider"></div>
            <div class="footer-link-list">
             <a href="/signup" class="footer-links">Register <span class="badge badge-primary">Free</span></a>
             <a href="/login" class="footer-links">Login</a>
             <a href="/account/post/create" class="footer-links">Vacancy Announcement</a>
             <a href="#" class="footer-links">Faq</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer-links">
            <h5 class="lead footer-hdr">Links</h5>
            <div class="line-divider"></div>
            <div class="footer-link-list">
             <a href="#" class="footer-links">Home</a>
             <a href="#" class="footer-links">About Us</a>
             <a href="#" class="footer-links">Advertise</a>
             <a href="#" class="footer-links">Contact Us</a>
             <a href="#" class="footer-links">Faq</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer-links">
            <h3 class="footer-brand mb-2">JobLister</h3>
            <div class="footer-link-list">
             <a href="#" class="footer-links"><i class="fas fa-compass"></i> Newroad,kathmadndu-64400,Nepal</a>
             <a href="tel:98400001511" class="footer-links"><i class="fas fa-phone"></i> +977-6000-000</a>
             <a href="tel:98400001511" class="footer-links"><i class="fas fa-mobile"></i> +977-9840003200</a>
             <a href="mailto:info@joblister.com" class="footer-links"><i class="fas fa-envelope"></i> info@joblister.com</a>
             <div class="social-links">
               <a href="https://www.facebook.com" target="_blank" class="social-link"><i class="fab fa-facebook"></i></a>
               <a href="https://www.twitter.com"  target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
               <a href="https://www.linkedin.com"   target="_blank" class="social-link"><i class="fab fa-linkedin" ></i></a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
    </th:block>
  </body>
</html>